<%= javascript_pack_tag 'modal' %>

<!-- Modal -->
<div class="chat_modal">
    <h3>
        Mensagens na chamada
        <span class="float-end ms-4 close">X</span>
    </h3>

    <hr />

    <p>
        As mensagens só podem ser vistas pelas 
        pessoas na chamada e são excluídas quando ela termina.
    </p>

    
</div>

<!-- Button trigger modal -->
<button type="button" class="chat_btn m-2">
    <%= image_tag 'icons/message' %>
</button>

